.spinner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 4rem;
  height: 4rem;
  border-radius: 6rem;
  border-width: 0.4rem;
  border-style: solid;
  animation: init 0.8s linear infinite;
  -webkit-animation: init 0.8s linear infinite;
  transform: translate(50%, 50%);
}

@keyframes init {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-color: #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-color: #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes init {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-color: #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-color: #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: #f44336;
    border-left-color: transparent;
  }
}
